<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Trello Clone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/style.css" rel="stylesheet">
  </head>
  <body>

    <%= yield %>
  
  </body>
</html>